.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/mainsrc/testsrc/mainsrc/testsrc/mainsrc/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
.idea/workspace.xml
/cache
/run
